<!DOCTYPE html>
<html lang="ja">
<head>
  <title></title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="format-detection" content="telephone=no">
  <meta property="og:title" content="She is.">
  <meta property="og:description" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">
  <meta property="og:site_name" content="She is.">
  <meta property="og:type" content="website">
  <meta property="fb:app_id" content="">
  <meta name="twitter:site" content="site">
  <meta name="twitter:title" content="So-net media">
  <meta name="twitter:description" content="">
  <meta name="twitter:url" content="">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="ogimg.png">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Vollkorn:400,400i" rel="stylesheet">
  <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
  <link rel="icon" href="favicon.ico"/>
  <link rel="apple-touch-icon" href="/touch-icon.png">

</head>
<body>

  <div class="l-wrapper">
    <header class="l-header">


    </header>
